---
import About from '../components/About.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
import Problems from '../components/Problems.astro';
import Treatments from '../components/Treatments.tsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero />
	<About />
	<Problems />
	<div class="bg-gradient-to-b from-white to-pink-50">
		<Treatments client:load showAll={true} layout='carousel'/>
	</div>
	<Blog />

	<Contact />
</Layout>
