---
import TreatmentsCarousel from './react/Carrousel';
---

<section id="home" class="relative  h-[calc(100vh-4rem)] lg:h-[calc(100vh-5rem)] mt-18 lg:mt-22 w-full ">
    <TreatmentsCarousel client:only="react"/>
</section>

