---
import { ClientRouter } from 'astro:transitions';
import Nav from '../components/Nav.jsx';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Dra. Acevedo Cecilia</title>
		<ClientRouter  />
	</head>
	<body class="font-display">
		<Nav client:load/>
		<slot />
		<WhatsAppButton />
	</body>
	<script>
		import { initAccordions, initDropdowns } from 'flowbite';
		document.addEventListener('astro:after-swap', () => {
			initDropdowns();
			initAccordions();
		});
		
		// Inicializar en la carga inicial
		document.addEventListener('DOMContentLoaded', () => {
			initDropdowns();
			initAccordions();
		});
	</script>
</html>

<style is:global>
	html,
	body {
		overflow-x: hidden;
	}
	
</style>
